/* General body and container styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    background: linear-gradient(180deg, #d7c2c2 0%, #494949 100%);
    overflow: hidden;
}


.auth-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    direction: rtl;
}

.auth-wrapper .container {
    background: rgba(69, 97, 102, 0.307);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 2px 8px 32px 2px rgb(0, 0, 0);
    padding: 20px;
    width: 350px;
    max-width: 100%;
    text-align: center;
}
.auth-wrapper .container img {
    width: 70%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}

.auth-wrapper form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.auth-wrapper .input-group {
    display: flex;
    gap: 10px; /* Adjust the gap between inputs as needed */
}

.auth-wrapper .input-group input,
.auth-wrapper .input-group select {
    flex: 1; /* This makes the inputs take equal space within the group */
    padding: 2px;
    border: none;
    border-radius: 5px;
    outline: none;
    height: 30px;
    text-align: right;
}

.auth-wrapper input,
.auth-wrapper select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.395);
    color: black;
}

.auth-wrapper input::placeholder {
    color: rgba(0, 0, 0, 0.525);
    text-align: right;
}

.auth-wrapper button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #f7f59b;
    color: black;
    cursor: pointer;
    transition: background 0.3s ease;
}
/* Add this to your existing CSS file */
.auth-wrapper .back-button{
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    border: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    z-index: 1000; /* Ensure the button is above other elements */
}
.auth-wrapper .language-button {
    position: absolute;
    z-index: 1000; /* Ensure the button is above other elements */
    cursor: pointer;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
    border: none;
    width: 70px;
    top: 20px; /* Adjust as needed */
    left: 315px; /* Adjust as needed */
    color: black; /* Button text color */
    font-weight: bold; /* Bold text for headers */
    background: #a4a772; /* Button background color */

}

.auth-wrapper button:hover {
    background: #e6e2109f;
}

.auth-wrapper button[type="button"] {
    background: #a4a772;
    color: black;
}

.auth-wrapper button[type="button"]:hover {
    background: #e6e21062;
}