.notifications {
    padding: 20px;
}
.notification-list .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: rgba(132, 132, 132, 0.8);
    height: 75px;
}

.notification-list .logo {
    width: 100px;
    height: 90px;
    border-radius: 20px;
}

table2 {
    width: 100%;
    border-collapse: collapse;
    overflow-y: auto;
    display: block;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #e0d9f8;
    font-weight: bold;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    max-height: 90vh;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    background-color: #e4e4e4;
    border: 4px solid rgba(132, 132, 132, 0.8);
}

.popup-content h3 {
    margin-top: 0;
}

.popup-content button {
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

/* Popup table styles */
.popup-content table2 {
    border-radius: 8px;
    width: 100%;
    border-collapse: collapse;
    background-color: #f0e8fb;
}

.popup-content td {
    border-radius: 8px;
    padding: 8px;
    width: 300px;
    border: 2px solid rgba(132, 132, 132, 0.8);
}

/* Popup buttons */
.popup-buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.popup-buttons button {
    border-radius: 8px;
    border: 2px solid rgba(132, 132, 132, 0.8);
    background-color: #f0e8fb;
    margin: 0 5px;
}

.popup-buttons button:hover {
    background-color: rgba(132, 132, 132, 0.8);
}

/* General Table Styles */
.register-list-table {
    margin: 34px;
    border: 6px solid #626262;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    display: block;
    max-height: 450px;
    width: 324px;
    overflow-y: auto;
    border-radius: 10px;
}

.register-list-table::-webkit-scrollbar {
    width: 12px; 
}

.register-list-table::-webkit-scrollbar-thumb {
    background: #3d3d3d; 
    border-radius: 20px; 
}


.register-list-th, .register-list-td {
    border: 3px solid rgba(132, 132, 132, 0.8);
    padding: 12px;
    text-align: center;
}

/* Header Styles */
.register-list-thead {
    background-color: #e0d9f8;
}

.register-list-thead-tr:hover {
    background-color: #696969;
}

.register-list-th {
    background-color: rgba(132, 132, 132, 0.8);
    color: #000000;
    font-weight: bold;
}

/* Body Styles */
.register-list-tbody-tr:nth-child(even) {
    background-color: #919191;
}

.register-list-tbody-tr:nth-child(odd) {
    background-color: #c2c2c2;
}

.register-list-tbody-tr:hover {
    background-color: #7d8e95;
}

.notification-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.notification-container h3 {
    margin: 0;
    font-size: 18px;
}

.notification-sort-button {
    padding: 4px 8px;
    background-color: #5b5b5b;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.notification-sort-button:hover {
    background-color: #373737;
}

.tables-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.centered-table {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

.notification-list {   
    padding: 20px;
    border-radius: 50px;
    background-color: rgba(244, 248, 167, 0.125);
    height: 625px;
    overflow: hidden;
    width: 1000px;
    margin-bottom: 150px;
}
